:root {
    --main-color: #473c31;          /* rgba(71,60,49) */
    --main-color-lshade: #4f4337;
    --secondary-color: #847366;     /* rgba() */
    --tertiary-color: #ddd0c8;      /* rgba() */
    --accent-color: #ee8c4a;
}

/* ========== FONTS ========== */

a { font-family: 'Work Sans', sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; color: inherit;}
h1 { font-family: 'Work Sans', sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 600; }
h2 { font-family: 'Work Sans', sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 600; line-height: 1em; }
h3 { font-family: 'Work Sans', sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 600; line-height: 15.4px; }
h4 { font-family: 'Work Sans', sans-serif; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 15.4px; }
h5 { font-family: 'Work Sans', sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 15.4px; }
h6 { font-family: 'Work Sans', sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 200; line-height: 20px; }
p { font-family: 'Work Sans', sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 300; line-height: 20px; }
div { font-family: 'Work Sans', sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 300; line-height: 20px; }
button { font-family: 'Work Sans', sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 300; }

.italic {
    font-style: italic;
}

.vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    margin: 0;
    font-size: 4.2em;
    line-height: 1.5em;
    color: var(--secondary-color);
    opacity: 0.35;
}

/* ========== GENERAL ========== */

body {
    margin: 0;
    padding: 0;
}

.body-container {
    color: var(--main-color);
    background-color: #D8E1E3;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .line {
        width: 90%;
    }
}

@media screen and (min-width: 600px) {
    .line {
        width: 60%;
    }
}

.repeat-lines {
    width: 100%;
    line-height: 2;

    background-image: linear-gradient(to right, #ccc 1px, transparent 1px), linear-gradient(#ccc 1px, transparent 1px);
    background-size: 22px 22px;
}

.anchor {
    --color: currentcolor;
    --line: 0.06em;
    --terminal: 0.2em;
    --opacity: 0.5;
}

/* ========== HEADER ========== */

.header {
    z-index: 2;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 6px 10px;
    overflow: hidden;
    background-color: transparent;

    pointer-events: none;
}

.header a {
    float: left;
    color: var(--main-color);
    text-align: center;
    letter-spacing: .05em;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    border-radius: 4px;
    margin-right: 14px;

    pointer-events: auto;
}

.header a:hover {
    color: var(--accent-color);
}

.header h1 {
    letter-spacing: .1em;
    padding: 0;
    margin: 0;
}

.header-right {
    float: right;
}

/* ========== SECTION 1 - COVER ========== */

#cover {
    position: relative;
    margin: inherit;
    top: 0;
    left: 0;
    right: 0;
    height: calc(100vh - 62px);
    background-color: #D8E1E3;
}

#cover .jp {
    font-family: 'Noto Sans JP', sans-serif;
    opacity: .5;
    font-size: .5em;
}

.shadow {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(0deg, rgba(60, 60, 59, 0.25) 0%, rgba(60, 60, 59, 0) 100%);
}

.left-cover {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

.left-cover img {
    left: calc(20% + 130px);        /* align with left-cover #cover-name */
    transform: translateX(-270px);  /* change THIS to edit layout */
    bottom: 0;
    position: absolute;
    z-index: 1;
    max-height: 90%;
}

.left-cover #cover-name {
    position: absolute;
    top: 50vh;
    left: calc(20% + 130px);         /*align with left-cover img*/
    z-index: 0;
}

.left-cover #cover-name h1, 
.left-cover #cover-name h2 {
    text-align: center;
    font-size: 4.5em;
    line-height: 1em;
    margin: 0;
    opacity: .8;
    letter-spacing: .05em;
}

.left-cover #cover-name h2 {
    line-height: .4em;
    font-size: 4em;
    transform: translateX(25px);
}

.right-cover {
    position: relative;
    float: right;
    width: 40%;
    height: 100%;
    padding-right: 20px;
}

.right-cover h5 {
    position: relative;
    text-align: right;
    color: var(--secondary-color);
    overflow: hidden;
    line-height: 1.5em;
    margin: 100px 2em 0 0;
}

.right-cover #ux-prod-info {
    position: relative;
    margin-top: 170px;
    z-index: 1;
}

.right-cover h2 {
    right: 0;
    top: 0;
    opacity: .2;
    font-size: 6.2em;
}

.right-cover h3 {
    text-align: right;
    font-size: 2.4em;
    line-height: .6em;
    padding-top: .2em;
    padding-bottom: 25px;
    padding-right: 134px;
    margin: 0;
    position: relative;
    z-index: 1;
    overflow: ellipsis;
    white-space: nowrap;
    direction: rtl;
}

.right-cover h3:first-of-type {
    padding-top: 22px;
    margin-bottom: 10px;
}

.right-cover h3:hover {
    color: var(--accent-color);
}

.right-cover a:hover {
    text-decoration: none;
    color: currentColor;
}

@keyframes float {
	0% {
		transform: translate(-50%, 0);
	}
	50% {
		transform: translate(-50%, -16px);
	}
	100% {
		transform: translate(-50%, 0);
	}
}

.categories-pointer {
    margin: inherit;
    padding: 40px;
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    color: var(--secondary-color);

    /* floating animation */
	animation: float 4s ease-in-out infinite;
}

.categories-pointer h4 {
    margin: inherit;
    text-align: center;
    font-weight: 400;
    padding: 6px;
}

/* ========== SECTION 2 - CATEGORIES ========== */

#categories {
    height: 62px;
    font-family: 'Work Sans', sans-serif;
    color: var(--secondary-color);
    display: -webkit-flex;
    /* Safari */
    display: flex;
    text-align: center;
    background-color: var(--main-color);
    position: relative;
    z-index: 1;

    overflow-x: hidden;
    white-space: nowrap;

    touch-action: none;
}

#categories::-webkit-scrollbar {
    display: none;
}

.left,
.center,
.right {
    display: inherit;
    text-align: center;
    margin: 0;
}

.left,
.right {
    flex: 1;
}

.left {
    flex-direction: row-reverse;
}

.right {
    flex-direction: row;
}

#categories svg {
    padding: 10px 1.5vw;
}

#categories button {
    font-family: inherit;
    padding: 10px 1.5vw;
    background: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
}

#categories button:focus {
    color: var(--tertiary-color);
    outline: 0;
}

#categories button:hover {
    color: var(--tertiary-color);
}

/* ========== SECTION 2 - WORKS ========== */

#works {
    height: auto;
    padding: 0;
    text-align: center;
    font-size: 0px;
    letter-spacing: 0px;
    word-spacing: 0px;
    background-color: var(--main-color);
    white-space: nowrap;
    position: relative;
    z-index: 1;
}

#works table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
    overflow-x: auto;
    overflow: hidden;
}

#works table, tr, td, a {
    border: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    height: 60vh;
}

#works td {
    width: 2%;
    min-width: 120px;
    overflow: hidden;
}

#works img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}

#works img:hover {
    filter: none !important;
}

#works a {
    position: relative;
    display: inline-block;
}

#works .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;

    pointer-events: none;
}

#works td:hover .overlay {
    opacity: 1;
}

#works .caption {
    color: #FFFFFF;
    font-size: 8vh;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    line-height: 5.8vh;
}

#works .caption p {
    font-weight: 700;
    line-height: .9em;
    color: #FFFFFF;
}

/* ========== SECTION 2 - CONTENTS ========== */

/* @media screen and (max-width: 600px) {
    #contents p, h6{
        padding: 40px 20px;
    }
}

@media screen and (min-width: 600px) {
    #contents p, h6 {
        padding: 40px 22.5%;
    }
} */

#contents {
    height: auto;
    background-color: var(--main-color);
    position: relative;
    padding: 0;
    margin: 0;
    border-top: 1px;    /* to avoid top pixel layer when auto scrolling */
    border-color: var(--main-color);
    border-style: solid;
}

#contents #highlight {
    position: absolute;
    width: 100%;
    table-layout: fixed;
}

#contents #highlight tr, td, div {
    border: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    height: auto;
}

#contents #highlight td {
    width: 2%;
    min-width: 120px;
    overflow: hidden;
}

#contents #highlight td div {
    width: auto;
    height: 6px;
    background-color: var(--accent-color);
}

#contents .padded {
    color: var(--tertiary-color);
    position: relative;
    padding: 0 20%;
}

#contents .content-header {
    padding: 100px 0;
}

#contents .content-header .row {
    margin-bottom: 60px;
}

#contents .title {
    font-size: clamp(2em, 5vw, 3rem);
    line-height: 1em;
    display: inline-block;
}

#contents .work-date {
    font-size: 16px;
    font-style: italic;
    font-weight: 200;
    color: var(--secondary-color);
    padding-left: 20px;
}

#contents .tools {
    float: right;
}

#contents .tools span {
    padding: 4px 8px;
    display: block;
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

#contents .tools #interests {
    letter-spacing: 2px;
    font-size: 18px;
    color: var(--secondary-color);
}

#contents .line {
    background-color: var(--tertiary-color);
    position: relative;
    height: 1px;
    width: auto;
}


#contents .collapsible {
    font-weight: 600;
    padding: 4px 0;
    margin: 0;
    width: 100%;
    text-align: left;
    color: var(--tertiary-color);
    background-color: var(--main-color-lshade);

    border: none;
    cursor: pointer;
}

#contents .collapsible:hover {
    color: var(--accent-color);
}

#contents .collapsible:after {
    content: '\002B';
    color: var(--tertiary-color);
    font-weight: bold;
    float: left;
    margin-right: 10px;
  }
#contents .active:after {
    content: "\2212"; /* Unicode character for "minus" sign (-) */
}

#contents button:hover, button:focus {
    outline: none;
}

#contents .collapsible-content {
    background-color: var(--main-color-lshade);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    padding: 0 20px;
}

#contents .collapsible-content > :first-child {
    margin-top: 60px;
    padding-top: 0;
}

#contents .collapsible-content > :last-child {
    margin-bottom: 60px;
    padding-bottom: 0;
}

#contents .bold {
    font-weight: 700;
    color: var(--secondary-color);
    font-size: 1.2em;
}

#contents h2 {
    margin-bottom: 30px;
}

#contents p {
    padding-bottom: 100px;
    margin: 0;
}

#contents a {
    color: var(--accent-color);
    font-size: inherit;
    font-weight: inherit;
}

#contents a:hover {
    color: currentColor;
    text-decoration: none;
}

#contents img {
    margin-bottom: 100px;
}

#contents .switch-image {
    position: relative;
}

#contents .switch-image > img {
    margin: 0;
}

#contents .switch-image img.image-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
}

#contents .switch-image:hover img.image-hover {
    opacity: 1;
}

#contents .text-over-img {
    position: relative;
}

#contents .text-over-img > .overlay-text-topleft {
    position: absolute;
    top: 0;
    left: 0;
    padding: 24px;
}

#contents .text-over-img > .overlay-text-main {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(-100%);
    padding: 24px 10%;
}

#contents video {
    padding: 0;
    margin-bottom: 100px;
}

#contents .iframe-slideshare-16x9 {
    padding-bottom: calc(56.25% + 38px);
    position: relative;
    width: 100%;
    height: 0;
    margin-bottom: 100px;
}

#contents .iframe-slideshare-16x9 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:1px solid #CCC; 
}

@media screen and (max-width: 400px) {
    .side-frame {
        position: relative;
        color: var(--secondary-color);
        padding-bottom: 4px;
        margin-bottom: 0;
        font-size: 1.2em;
    }
}

@media screen and (min-width: 400px) {
    .side-frame {
        left: calc(20% - 1.2em);

        writing-mode: vertical-rl;
        text-orientation: mixed;
        position: absolute;
        margin: 0;
        font-size: 4.2em;
        line-height: 1.5em;
        color: var(--secondary-color);
        opacity: 0.35;
    }
}

/* ========== BACK TO WORKS ========== */

#back-to-works {
    position: relative;
    height: 200px;
    background-color: var(--main-color);
    text-align: center;
    transition: .5s ease;
    cursor: pointer;

    display: -webkit-flex;
    /* Safari */
    display: flex;
    text-align: center;

    align-items: center;
    justify-content: center;
}

#back-to-works > div {
    margin: 0 10px;
}

#back-to-works:hover {
    background-color: var(--main-color-lshade);
    letter-spacing: 8px;
    transition: .5s ease;
}

#back-to-works .center {
    transition: .5s ease;
}

#back-to-works:hover > .center {
    transform: translateY(-10px);
    transition: .5s ease;
}

#back-to-works .text {
    font-size: 30px;
    color: var(--secondary-color);
    transform: translateY(6px);
}

/* ========== CONTACT ========== */

#contact {
    width: 100%;
    height: calc(100vh - 62px);     /* minus header height */
    margin: 0;
    position: relative;
    background-color: #D8E1E3;
}

@media screen and (max-width: 400px) {
    #contact h2 {
        left: 10px;
        top: 20px;
        line-height: 1em;
    }

    #contact h5 {
        padding: 80px 20px 0 40%;
        color: var(--secondary-color);
        font-size: 1.5em;
        margin: 0;
    }
}

@media screen and (min-width: 400px) {
    #contact h2 {
        left: 15%;
        top: 40px;
    }
}

#contact h5 {
    padding: 80px 20px 20px 40%;
    color: var(--secondary-color);
    opacity: .7;
    font-size: 1.5em;
    margin: 0;
}

#contact h3 {
    padding: 20px 20px 0 30%;
    margin: 0;
    font-size: clamp(1em, 4vw, 2em);
    overflow: hidden;
    line-height: 1.1em;
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace; 
}

#contact a {
    text-decoration: none;
    color: var(--main-color);
    height: 100px;
    width: 100px;
}

#contact a > * {
    display: block;
    padding: 0 20px 0 30%;
}

