:root {
    --main-color: #3C3C3B;
    --secondary-color: #727270;
    --tertiary-color: #ccccc3;
}

/* ========== FONTS ========== */

a { font-family: Copperplate Gothic Light, "Trebuchet MS", Arial; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; }
h1 { font-family: Copperplate Gothic Light, "Trebuchet MS", Arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 400; }
h2 { font-family: Copperplate Gothic Light, "Trebuchet MS", Arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; }
h3 { font-family: Copperplate Gothic Light, "Trebuchet MS", Arial, sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; }
h4 { font-family: Copperplate Gothic Light, "Trebuchet MS", Arial, sans-serif; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 15.4px; }
h5 { font-family: Copperplate Gothic Light, "Trebuchet MS", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 15.4px; }
h6 { font-family: Nunito Sans, "Trebuchet MS", Arial, sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 20px; }
p { font-family: Nunito Sans, "Trebuchet MS", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; }
pre { font-family: Nunito Sans, "Trebuchet MS", Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
blockquote { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; }

.vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    margin: 0;
    font-size: 4.2em;
    line-height: 1.5em;
    color: var(--secondary-color);
    opacity: 0.35;
}

/* ========== GENERAL ========== */

body {
    margin: 0;
    padding: 0;
}

.container {
    color: var(--main-color);
    background-color: #D8E1E3;
}

.line {
    /* https://cssgradient.io/ */
    background: linear-gradient(90deg, rgba(204, 204, 195, 0.4) 0%, rgba(204, 204, 195, 0.4) 70%, rgba(204, 204, 195, 0) 100%);
    background-repeat: no-repeat;

    position: absolute;
    left: 0;
    height: 4px;
    width: 60%;
}

.repeat-lines {
    width: 100%;
    margin: 50px auto;
    line-height: 30px;

    background-image: linear-gradient(to right, #ccc 1px, transparent 1px), linear-gradient(#ccc 1px, transparent 1px);
    background-size: 20px 20px;
}

.anchor {
    --color: currentcolor;
    --line: 0.06em;
    --terminal: 0.2em;
    --opacity: 0.5;
}

/* ========== HEADER ========== */

.header {
    z-index: 2;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 10px;
    overflow: hidden;
    background: transparent;
}

.header a {
    float: left;
    color: var(--main-color);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    margin-right: 20px;
}

.header h1 {
    padding: 0;
    margin: 0;
}

.header-right {
    float: right;
}

/* ========== SECTION 1 - COVER ========== */

#cover {
    position: relative;
    margin: inherit;
    top: 0;
    left: 0;
    right: 0;
    height: 560px;
    background-color: #D8E1E3;
}

.shadow {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(0deg, rgba(60, 60, 59, 0.25) 0%, rgba(60, 60, 59, 0) 100%);
}

.left-cover {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

.left-cover img {
    right: -160px;
    bottom: 0;
    position: absolute;
    z-index: 1;
    max-height: 80%;
}

.left-cover #cover-name {
    position: absolute;
    top: 240px;
    right: 310px;
    z-index: 0;
    line-height: 5.5em;
}

.left-cover #cover-name h1 {
    text-align: center;
    font-size: 6em;
}

.right-cover {
    float: right;
    width: 40%;
    height: 100%;
    padding-right: 10%;
}

.right-cover h5 {
    margin: 202px 2em 0 0;
    text-align: right;
    color: var(--secondary-color);
}

.right-cover #ux-prod-info {
    position: relative;
    bottom: 0;
    z-index: 1;
}

.right-cover h2 {
    right: 0;
}

.right-cover h3 {
    text-align: right;
    font-size: clamp(1em, 3vw, 2.4em);
    line-height: 1.5em;
    margin-top: 80px;
    padding-right: 50px;
    position: relative;
    z-index: 1;
}

.categories-pointer {
    margin: inherit;
    z-index: 3;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    color: var(--secondary-color);
}

.categories-pointer h4 {
    margin: inherit;
    text-align: center;
    font-weight: 400;
    padding: 6px;
}

/* ========== SECTION 2 - CATEGORIES ========== */

#categories {
    font-family: Copperplate Gothic Light;
    color: var(--secondary-color);
    display: -webkit-flex;
    /* Safari */
    display: flex;
    text-align: center;
    background-color: var(--main-color);
    position: relative;
    z-index: 1;

    overflow-x: hidden;
    white-space: nowrap;

    touch-action: none;
}

#categories::-webkit-scrollbar {
    display: none;
}

.left,
.center,
.right {
    display: inherit;
    text-align: center;
    margin: 0;
}

.left,
.right {
    flex: 1;
}

.left {
    flex-direction: row-reverse;
}

.right {
    flex-direction: row;
}

#categories span {
    padding: 10px 1.5vw;
}

#categories button {
    font-size: 1em;
    font-family: inherit;
    padding: 10px 1.5vw;
    background: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
}

#categories button:focus {
    color: var(--tertiary-color);
    outline: 0;
}

#categories button:hover {
    color: var(--tertiary-color);
}

/* ========== SECTION 2 - WORKS ========== */

#works {
    height: auto;
    padding: 0;
    text-align: center;
    font-size: 0px;
    letter-spacing: 0px;
    word-spacing: 0px;
    background-color: var(--main-color);
    white-space: nowrap;
    position: relative;
    z-index: 1;
}

#works table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
}

#works table,
tr,
td,
a {
    border: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

#works td {
    width: 12.5%;
}

#works td:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}

#works img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#works a {
    position: relative;
}

#works .overlay {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: all .4s ease .5s;
}

#works td:hover .overlay {
    height: 100px;
    transition: all .5s ease 0s;
    /*width: 60vw;    /* text slide animation */
}

#works .caption {
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    left: 10%;
    /*left: 1%;       /* constraint to text slide animation */
    text-align: left;
}

#works .caption p {
    font-size: clamp(.5em, 2.3vw, 1.5em);
    font-weight: 700;
    line-height: .9em;
    color: #FFFFFF;
}

/* ========== SECTION 2 - CONTENTS ========== */

#contents {
    padding: 40px 22.5%;
    background-color: red;
}

#contents {
    height: auto;
    min-height: 600px;
    background-color: var(--main-color);
    position: relative;
}

#contents h6,
p {
    color: var(--tertiary-color);
    margin: 0;
    padding: 0;
    position: relative;
}

#contents h6 {
    font-size: clamp(2em, 5vw, 3rem);
    line-height: 1em;
    padding: 0 14px 8px 0;
    display: inline-block;
}

#contents .soft {
    background: rgba(204, 204, 195, .1);
}

#contents .tools {
    padding: 20px 0;
}

#contents span {
    color: var(--tertiary-color);
    background: rgba(204, 204, 195, .2);
    margin-right: 10px;
    padding: 4px 8px 5px 8px;
    border-radius: 6px;
    line-height: 1em;
}

#contents p {
    margin-top: 30px;
}

/* ========== CONTACT ========== */

#contact {
    width: 100%;
    height: 400px;
    margin: 0;
    position: relative;
}

#contact h2 {
    left: 15%;
    top: 40px;
}

#contact h5 {
    padding: 80px 22.5% 0 40%;
    color: var(--secondary-color);
    font-size: 1.5em;
    margin: 0;
}

#contact h3 {
    padding: 60px 22.5% 0 30%;
    font-size: 3em;
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace; 
}

#contact a {
    text-decoration: none;
    color: var(--main-color);
}



/* ========== TEST ========== */

#test {
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: 200px;
    background-color: red;
}